# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*



/src/components/main/FormComponent2.js
/server/node_modules
/server/main.py
/server/main2.py
/server/activity_report.pdf
/server/uploads
tempCodeRunnerFile.js
.env
event_report.pdf
tryingModel.py